<a href="https://colab.research.google.com/github/HyoJInNam/Python/blob/master/02_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#인덱싱과 슬라이싱

## 인덱싱(Indexing)

In [ ]:
colors = ["red", "blue", "green"]
print(colors[0])
print(colors[2])
#error: print(colors[3])
print(len(colors))

red
green
3

## 슬라이싱(sclicing)

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[0:6])
print(cities[0:5])
print(cities[5:])

['서울', '부산', '인천', '대구', '대전', '광주']
['서울', '부산', '인천', '대구', '대전']
['광주', '울산', '수원']

### Reverse Index

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[-8:])
print(cities[-4:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['대전', '광주', '울산', '수원']

### 인덱스 범위를 넘어가는 슬라이싱

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[:])      #처음부터 끝까지
print(cities[-2:2])
print(cities[-50:50]) #범위를 넘어갈 경우 자동으로 최대 범위르르 지정

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
[]
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

### tep(증가값): 변수명[시작 인덱스:마지막 인덱스:증가값]

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[::])
print(cities[::2])    #2칸 단위로
print(cities[::-1])   #역으로 슬라이싱
print(cities[::-2])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '인천', '대전', '울산']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']
['수원', '광주', '대구', '부산']

### 문자열

In [ ]:
astr = "123456789"
print(astr[0:9:2])
print(astr[::2])
print(astr[1::2])

13579
13579
2468

In [ ]:
color1 = ["red", "blue", "green"]
color2 = ['orange', 'black', 'white']
print(color1 + color2)
print(len(color1))

['red', 'blue', 'green', 'orange', 'black', 'white']
3

### 연산

In [ ]:
print(color1 + color2)
print(color1 * 2)
print('blue' in color2) # in: color2 변수에서 문자열 'blue'의 존재 여부 반환

['red', 'blue', 'green', 'orange', 'black', 'white']
['red', 'blue', 'green', 'red', 'blue', 'green']
False

### 삽입

In [ ]:
color1.append('orange')
print(color1)

color1.extend(["blue", "green"])
print(color1)

color1.extend(color2)
print(color1)

color1.insert(0, 'orange')
print(color1)

['red', 'blue', 'green', 'orange']
['red', 'blue', 'green', 'orange', 'blue', 'green']
['red', 'blue', 'green', 'orange', 'blue', 'green', 'orange', 'black', 'white']
['orange', 'red', 'blue', 'green', 'orange', 'blue', 'green', 'orange', 'black', 'white']

### 삭제

In [ ]:
color1.remove('orange')
print(color1)

del color1[len(color1)-1]
print(color1)

print(color1.pop(5))

removed_value = color1.pop(len(color1)-1)
print(removed_value)

# del 변수명[포함 x : 포함]
del color1[4:] # orange 포함 x 삭제
print(color1)

del color1[:4] # orange 포함 삭제
print(color1)

['red', 'blue', 'green', 'orange', 'blue', 'green', 'orange', 'black', 'white']
['red', 'blue', 'green', 'orange', 'blue', 'green', 'orange', 'black']
green
black
['red', 'blue', 'green', 'orange']
[]

# 패킹 & 언팩킹

*   packing: 한 변수에 여러개의 데이터를 할당
*   unpacking: 한 변수에 데이터를 각각의 변수로 반환

In [ ]:
t = [1, 2, 3] # 패킹
a, b, c = t   # 언패킹
print(t, a, b, c)
# err: a, b, c, d, e = t
# err: a, b = t

[1, 2, 3] 1 2 3

# 이차원 리스트

In [ ]:
kor = [49, 79, 20, 100, 80]
math = [43, 59, 85, 30, 90]
eng = [49, 79, 48, 60, 100]

midterm = [kor, math, eng] 
print(midterm)

print(midterm[0][2], ',', midterm[2][4]) # 국어 20, 영어 100

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
20 , 100

리스트의 메모리 저장 = 메모리 주소값 저장

In [ ]:
midterm[0] = 1000
print(midterm)

[1000, [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

# 리스트 주의 사항

## 1.   여러 자료형 가능

In [ ]:
a = ["color", 1, 0.2] 
print(a)

['color', 1, 0.2]

## 2.   주소값 비교, 값 비교

In [ ]:
a = 300
b = 300
print(a is b, a == b)  # 주소값 비교, 값 비교

False True

## 3. -5 ~ 256 까지의 정수 주소값
*   -5 ~ 256 까지의 정수값을 특정 메모리 주소에 저장한다. 
*   해당 숫자를 할당하려고 하면 숫자가 가진 특정 메모리 주소로 연결한다.
*   이미 존재하는 메모리 공간

In [ ]:
a = 1
b = 1
print(a is b, a == b)

a = -5
b = -5
print(a is b, a == b)

a = 256
b = 256
print(a is b, a == b)

True True
True True
True True

## 4. 리스트는 값이 있는 주소를 저장한는 방식
* 리스트는 기본적으로 값을 연속적으로 저장하는 것이 아니라,
* 값이 있는 주소를 저장한는 방식.

In [ ]:
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]
b = a
print(b)

a.sort() #★★★★★
print(b)

b = [6, 7, 8, 9, 10]
print(a, b)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]