<a href="https://colab.research.google.com/github/HyoJInNam/Python/blob/master/03_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **조건문**

```
if~~:
    들여쓰기 필수
elif~~:
    들여쓰기 필수
else:
    들여쓰기 필수
```

In [ ]:
print("Tell me your age?")
myage = int(input())
if myage < 30:
  print("Welcome to the Club.")
else:
  print("Oh!No. you are not accepted.")

Tell me your age?
24
Welcome to the Club.

### 비교 연산자
```
x < y
x <= y
x >= y
x > y
x == y
x is y
x != y
x is not y
```

## 논리 연산자

```
 and
 or
 not
```

In [ ]:
score = int(input("Enter your score: "))
if(score >= 90): grade = 'A'
elif(score >= 80): grade = 'B'
elif(score >= 70): grade = 'C'
elif(score >= 60): grade = 'D'
else:  grade = 'F'

Enter your score: 50

In [ ]:
score = int(input("Enter your score: "))
grade = ['F', 'D', 'C', 'B', 'A']
print(grade[int(score/10 - 5)])

Enter your score: 40
A

In [ ]:
age = 2020 - int(input("Enter age: ")) + 1
if(age <= 26 & age >= 20): print("대학생")
elif(age < 20 & age >= 17): print("고등학생")
elif(age < 17 & age >= 14): print("고등학생")
elif(age < 14 & age >= 8): print("고등학생")
else: print("학생이 아닙니다.")

Enter age: 1997
대학생

In [ ]:
age = 2020 - int(input("Enter age: ")) + 1
if(age > 26): print("학생이 아닙니다.")
elif(age >= 20): print("대학생")
elif(age >= 17): print("고등학생")
elif(age >= 14): print("고등학생")
elif(age >= 8): print("고등학생")

Enter age: 1997
대학생

# 삼항 연산자
참인경우 값 if 조건 else 거짓인경우 값

In [ ]:
print("True는 참" if True else "True는 거짓")
print("False는 참" if False else "False는 거짓")

In [ ]:
year = 2000;
isLeapYear = year%400==0 or year%4==0 and year%100
print('{0}년은 "{1}"입니다.'.format(year,'윤년' if isLeapYear else '평년'))
print('{0}년은 "{1}"년입니다.'.format(year,'홀수' if year%2 else '짝수'))

2000년은 "윤년"입니다.
2000년은 "짝수"년입니다.

내가 입력한 숫자는 홀수일까? 짝수일까?

In [ ]:
while True:
    num = int(input("숫자입력(0은 종료) : "))
    if num == 0:
        break
    print("짝수" if num % 2 == 0 else "홀수")
    print("홀수" if num % 2 != 0 else "짝수")
    print("홀수" if num % 2 else "짝수")

숫자입력(0은 종료) : 5
홀수
홀수
홀수
숫자입력(0은 종료) : 0

년도와 월을 입력받아 월을 마지막 날짜 구하기

In [ ]:
while True:
    year = int(input('년도을 입력하시오(0은 종료)'))
    if not year:
        break
    month = int(input('월을 입력하시오(0은종료)'))
    if not month:
        break

    last_day = (29 if year % 400 == 0 or year % 4 == 0 and year % 100 else 28) \ 
              if (month==2) else (30 if month%2 else 31) \
              if (month>=8) else (31 if month%2 else 30)

    print('{0}년 {1}월의 마지막 날짜는 {2}일 입니다.'.format(year,month,last_day))