<a href="https://colab.research.google.com/github/HyoJInNam/Python/blob/master/04_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#문자열
문자열은 시퀀스 자료형(sequence data type)이다.


*   일반적으로 문자열을 저장하기 위해서는 영문자 한 글자당 1바이트의 메모리 공간을 사용
한다.
*   다음과 같은 코드로 문자열이 저장된 공간의 크기를 확인할 수 있다.

In [ ]:
import sys
print(sys.getsizeof("a"))
print(sys.getsizeof("ab"))
print(sys.getsizeof("abc"))

58
51
52

# 문자열과 메모리 공간
컴퓨터 공학자들은 이러한 문자를 처리하기 위해 이진수로 변환되는 표준 규칙을 만들었다.
ASCII, CP949, MS949, UTF-8 등 이러한 규칙을 인코딩(encoding)이라고 한다.

1.   컴퓨터는 문자를 직접 인식하지 못한다.
2.   컴퓨터는 문자를 숫자로 변환하여 인식한다.
3.   사람들은 문자를 숫자로 변환하기 위한 규칙을 만들었다.
4.   일반적으로 이 규칙은 1개의 영문자를 1바이트, 즉 2의 8승(28) 정도의 공간에 저장될 수 있도록 정하였다.

## 문자열의 인덱싱

In [ ]:
a = "abcde"
print(a[0], a[4])
print(a[-1], a[-5])

a e
e a

## 문자열의 슬라이싱

In [ ]:
a = "TEAMLAB MOOC, AWESOME Python"
print(a[0:6], "AND", a[-9:1])
print(a[:])
print(a[-50:50])
print(a[::2], "AND", a[::-1])

TEAMLA AND
TEAMLAB MOOC, AWESOME Python
TEAMLAB MOOC, AWESOME Python
TALBMO,AEOEPto AND nohtyP EMOSEWA ,COOM BALMAET

## 문자열의 연산

In [ ]:
a = "TEAM"
b = "LAB"
print(a + " " + b)

print(a * 2 + " " + b * 2)

if 'A' in a : print(a)
else: print(b)

TEAM LAB
TEAMTEAM LABLAB
TEAM

* 문자열과 정수형의 연산으로 인식하여 덧셈 연산이 실행되지
않는다.

In [ ]:
int_value = 2
print("결과는" + int_value)

TypeError: ignored

# 문자열 관련 함수


```
count("")
len()
upper() 대문자 변환
lower() 소문자 변환
title() 각 단어의 앞글자만 대문자로 변환
capitalize() 첫문자 대문자 변환

find("") 왼쪽 끝부터 시작하여 몇 번째에 있는지 반환
rfind("") 오른쪽 끝부터 시작하여 몇 번째에 있는지 반환

startswith("") "문자열"로 시작하는지 여부 반환
endswith("") "문자열"로 끝나는지 여부 반환
isdigit() 문자열이 숫자인지 여부 반환
islower() 문자열이 소문자인지 여부 반환
isupper() 문자열이 대문자인지 여부 반환

strip() 좌우 공백 삭제
lstrip() 왼쪽 공백 삭제
rstrip() 오른쪽 공백 삭제

split() 문자열을 공백이나 다른 문자로 나누어 리스트로 반환
```

In [ ]:
title = "TEAMLAB X Inflearn"
print(title.title())
print(title.capitalize())
print(title.count("a"))
print(title.upper().count("a"))
print(title.isdigit())
print(title.startswith("a"))

Teamlab X Inflearn
Teamlab x inflearn
1
0
False
False

# 특수문자

In [ ]:
print("I said "I`m happy."")

SyntaxError: ignored

In [ ]:
print("I said \"I`m happy.\"")

I said "I`m happy."

In [ ]:
a = """
It's Ok.
I'm Happy.
See you."""
a

"\nIt's Ok.\nI'm Happy.\nSee you."

단어 카운팅

In [ ]:
# yesterday

f = open("yesterday.txt", 'r')
yesterday_lyric = f.readlines()
f.close()

contents = ""
for line in yesterday_lyric:  
    contents = contents + line.strip() + "\n"

print(contents)
n_of_yesterday = contents.upper().count("YESTERDAY")
print("Number of a Word 'Yesterday'" , n_of_yesterday)

In [ ]:
dream = """
I have a dream a song to sing
to help me cope with anything
if you see the wonder of a fairy tale
you can take the future even
if you fail I believe in angels
something good in everything
dream dream dream dream dream
"""


contents = ""
for line in dream:  
    contents = contents + line.strip() + "\n"

n_of_dream = contents.lower().count("dream")
print("Number of a Word 'dream'" , n_of_dream)

Number of a Word 'dream' 0

# 문자열 서식 지정

In [ ]:
print(1, 2, 3)
print("a" + " " + "b" + " " + "c")
print("a", "b", "c")
print("%4.1f %5.2f %10d" % (1.1, 2.1, 3))
print("{} {} {}".format("a", "b", "c"))

1 2 3
a b c
a b c
 1.1  2.10          3
a b c

In [ ]:
a='A'
b='B'
c='C'
print("{} {} {}".format(a,b,c))

A B C

## % 서식

```
'% 자료형 % (값)'
```

% 서식 자료형
```
%s 문자열(string)
%c 문자 1개(character)
%d 정수(integer)
%f 실수(floating-point)
%o 8진수
%x 16진수
%% 문자 % 자체
```

In [ ]:
print('%s %s' % ('one', 'two'))
print('%d %d' % (1, 2))

one two
1 2

In [ ]:
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")

I eat 3 apples.
I eat five apples.

In [ ]:
for i in range(5):
  print("I eat %d apples." % i)
print("I eat %s apples." % "five")

I eat 0 apples.
I eat 1 apples.
I eat 2 apples.
I eat 3 apples.
I eat 4 apples.
I eat five apples.

In [ ]:
number = 3
day = "three"
print("I ate %d apples. I was sick for %s days." % (number, day))

I ate 3 apples. I was sick for three days.

## format() 함수

```
"{자료형}".format(인수)
```

In [ ]:
print("I'm{0} years old.".format(20))

I'm20 years old.

In [ ]:
age = 40; 
name='Sungchul Choi'
print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name, age))
print("Product: {0}, Price per unit: {1:.2f}.".format("Apple", 5.243))

I'm 40 years old.
My name is Sungchul Choi and 40 years old.
Product: Apple, Price per unit: 5.24.

## 패딩
파이썬의 서식 지정 기능에는 여유 공간을 지정하여 글자 배열을 맞추고 소수점 자릿수를
맞추는 패딩(padding)기능이 있다. % 서식과 format( ) 함수 모두 패딩 기능을 제공한다.

% 서식의 패딩

In [ ]:
print("%10d"%12)
print("%-10d"%12)

print("%10.3f"%5.94343)
print("%10.2f"%5.94343)
print("%-10.2f"%5.94343)

        12
12
     5.943
      5.94
5.94

### format() 함수의 패딩

In [ ]:
print("{0:>10s}".format("Apple"))
print("{0:<10s}".format("Apple"))

     Apple
Apple

In [ ]:
print("{1:10.5f}.".format("Apple", 5.243))
print("{1:>10.5f}.".format("Apple", 5.243))
print("{1:<10.5f}.".format("Apple", 5.243))
print("{1:>-10.5f}.".format("Apple", 5.243))
print("{1:<-10.5f}.".format("Apple", 5.243))

   5.24300.
   5.24300.
5.24300   .
   5.24300.
5.24300   .

# 네이밍(naming)

In [ ]:
print("Product: %(name)5s, Price per unit: %(price)5.5f."%{"name":"Apple", "price":5.243})

Product: Apple, Price per unit: 5.24300.

In [ ]:
print("Product: {name:>5s}, Price per unit: {price:5.5f}.".format(name="Apple", price=5.243))

Product: Apple, Price per unit: 5.24300.