<a href="https://colab.research.google.com/github/HyoJInNam/Python/blob/master/06_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
어떤 일을 수행하는 코드의 덩어리, 또는 코드의 묶음

1. 필요할 때마다 호출 가능
2. 논리적인 단위로 분할 가능
3. 코드의 캡슐화

## 함수의 선언


```
def 함수 이름(aoroqustn #1 ...):
  수행문 1
  수행문 2
  return (반환값)
```
1. def : ‘definition’의 줄임말로, 함수를 정의하여 시작한다는 의미이다.
2. 함수 이름 : 함수 이름은 개발자가 마음대로 지정할 수 있지만, 파이썬에서는 일반적으로
다음과 같은 규칙을 사용한다. • 소문자로 입력한다. • 띄어쓰기를 할 경우에는 _ 기호를 사용한다. ex) save_model • 행위를 기록하므로 동사와 명사를 함께 사용하는 경우가 많다. ex) find_number
• 외부에 공개하는 함수일 경우, 줄임말을 사용하지 않고 짧고 명료한 이름을 정한다.
3. 매개변수(parameter) : 함수에서 입력값으로 사용하는 변수를 의미하며, 1개 이상의 값을
적을 수 있다.
4. 수행문 : 수행문은 반드시 들여쓰기한 후 코드를 입력해야 한다. 수행해야 하는 코드는 일반
적으로 작성하는 코드와 같다. if나 for 같은 제어문을 사용할 수도 있고, 고급 프로그래밍을
하게 되면 함수 안에 함수를 사용하기도 한다.

In [ ]:
def calculate_rectangle_area(x, y):
  return x * y
  
rectangle_x = 10
rectangle_y = 20
print("사각형 x의 길이:", rectangle_x)
print("사각형 y의 길이:", rectangle_y)

print("사각형의 넓이:", calculate_rectangle_area(rectangle_x, rectangle_y))

사각형 x의 길이: 10
사각형 y의 길이: 20
사각형의 넓이: 200

** 주의 **

1행의 함수가 정의된 def 부분은 실행하지 않는다. 실행되지 않는 것처럼 보일 뿐, 해당 코
드를 메모리에 업로드하여 다른 코드를 호출해 사용할 수 있도록 준비 과정을 거친다. 만
약 함수의 선언 부분을 코드의 맨 끝에 둔다면 해당 코드 호출에 오류가 발생할 것이다.

## 함수의 연산, 계산

In [ ]:
def plus(a, b): return a+b
def minus(a, b): return a-b
def multiply(a, b): return a*b
def division(a, b): return a/b

def main(a, b):
  print("plus result: ", plus(a, b))
  print("minus result: ", minus(a, b))
  print("multiply result: ", multiply(a, b))
  print("division result: ", division(a, b))

a = float(input("a: "))
b = float(input("b: "))

main(a, b)

a: 7
b: 2
plus result:  9.0
minus result:  5.0
multiply result:  14.0
division result:  3.5

## 함수 호출 방식

In [ ]:
def test(t):
  print(x)
  t = 20
  print("In Function:", t)

x = 10
test(x)
print("In Main:", x)
print("In Main:", t) # 함수 안에서 생성도니 지역변수 t

10
In Function: 20
In Main: 10

NameError: ignored

# 지역변수

In [ ]:
def spam(eggs):
  eggs.append(1)


  eggs = [2, 3] # 함수 안에 있음~

ham = [0]
print(ham)
spam(ham)
print(ham)

[0]
[0, 1]

In [ ]:
def f():
  s = "I love London!"

s = "I love Paris!"

print(s)
f()
print(s)

I love Paris!
I love Paris!

# 전역변수

In [ ]:
def f():
  global s
  s = "I love London!"

s = "I love Paris!"
print(s)
f()
print(s)

I love Paris!
I love London!
I love London!

In [ ]:
def calculate(x, y):
  total = x + y
  print("In Function")
  print("a:", str(a), "b:", str(b), "a+b:", str(a+b), "total:", str(total))
  return total

a = 5
b = 7
total = 0
print("In Program -1")
print("a:", str(a), "b:", str(b), "a+b:", str(a+b))

sum = calculate(a, b)
print("After Calculation")
print("total:", str(total), "sum:", str(sum))

In Program -1
a: 5 b: 7 a+b: 12
In Function
a: 5 b: 7 a+b: 12 total: 12
After Calculation
total: 0 sum: 12

# 재귀함수

In [ ]:
def factorial(n):
  if n == 1: return 1
  else: return n * factorial(n-1)
print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 5
120

# 함수의 인수
1. 키워드 인수
함수에 입력되는 매개변수의 변수명을 사용하여 함수의 인수를 지정하는 방법이다.

In [ ]:
def print_somthing(my_name, your_name):
  print("Hello {0}, my name is {1}".format(your_name, my_name))
print_somthing("Sungchul", "TEAMLAB")
print_somthing(your_name = "TEAMLAB", my_name = "Sungchul")

Hello TEAMLAB, my name is Sungchul
Hello TEAMLAB, my name is Sungchul

2. 디폴트 인수
매개변수에 기본값을 지정하여 사용하고, 아무런 값도 인수로 넘기지 않으면 지정된 기본값을 사용하는 방식이다

In [ ]:
def print_somthing2(my_name, your_name = "TEAMLAB"):
  print("Hello {0}, my name is {1}".format(your_name, my_name))
print_somthing2("Sungchul", "TEAMLAB")
print_somthing2("Sungchul")

Hello TEAMLAB, my name is Sungchul
Hello TEAMLAB, my name is Sungchul

3. 가변 인수
함수의 매개변수 개수가 정해지지 않고 진행해야 하는 경우가 있다. 이때 사용하는 것이 바로 가변 인수(variable-length arguments)이다.
  * 가변 인수는 *(asterisk라고 부름)로 표현할 수 있는데, *는 파이썬에서 기본적으로 곱셈 또는 제곱 연산 외에도 변수를 묶어 주는 가변 인수를 만든다

In [ ]:
def asterisk_test(a, b, *args):
  print(args) #튜플
print(asterisk_test(1, 2, 3, 4, 5))

(3, 4, 5)
None

In [ ]:
def asterisk_test2(*args):
  x, y, *z = args
  return x, y, z
print(asterisk_test2(3, 4, 5))

(3, 4, [5])
(3, 4, [5, 10, 20])

*  튜플은 소괄호
*  튜플 값을 바꾸려고 하면 오류남

In [ ]:
def asterisk_test2(*args):
  x, y, *z = args
  return x, y, z
print(asterisk_test2(3, 4, 5, 10, 20))

(3, 4, [5, 10, 20])

In [ ]:
def asterisk_test2(*args):
  x, y, z = args #error: 언패킹의 개수가 맞지 않음
  return x, y, z
print(asterisk_test2(3, 4, 5, 10, 20))

ValueError: ignored

4. 키워드 가변 인수
  * 키워드 가변 인수(keyword variable-length arguments)는 매개변수의 이름을 따로 지정하지
않고 입력하는 방법으로, 이전 가변 인수와는 달리 *를 2개 사용하여 함수의 매개변수를 표시
한다. 
  * 입력된 값은 튜플 자료형이 아닌 **딕셔너리 자료형(dictionary type)**으로 사용할 수 있다.
  * 키워드 가변 인수는 반드시 모든 매개변수의 맨 마지막, 즉 가변 인수 다음에 선언되어야 한다

In [ ]:
def kwargs_test(**kwargs):
  print(kwargs)
  print(kwargs['first'],kwargs['second'], kwargs['third'])
  print("First value is {first}".format(**kwargs))
  print("Second value is {}\nThird value is {}".format(kwargs['second'],kwargs['third']))
kwargs_test(first = 3, second = 4, third = 5)

{'first': 3, 'second': 4, 'third': 5}
3 4 5
First value is 3
Second value is 4
Third value is 5

In [ ]:
def kwargs_test2(one, two, *args, **kwargs):
  print(" one = {0}, two = {1}, *args = {2}".format(one, two, args))
  print("**kwargs = {0}".format(kwargs))
  print("First value is {first}".format(**kwargs))
  print("Second value is {second}".format(**kwargs))
  print("Third value is {third}".format(**kwargs))
kwargs_test2(3, 4, 5, 6, 7, 8, 9, first = 3, second = 4, third = 5)

 one = 3, two = 4, *args = (5, 6, 7, 8, 9)
**kwargs = {'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5

3, 4는 각각 one, two에 할당되고,
나머지 5, 6, 7, 8, 9는 args에,
first = 3, second = 4, third = 5는 딕셔너리형으로 kwargs에 저장된다.