<a href="https://colab.research.google.com/github/HyoJInNam/Python/blob/master/07_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료구조
```
스택(stack): list()
큐(queue)
튜플(tuple)
세트(set)
딕셔너리(dictionary)
```

In [ ]:
word = input("Input a word: ")
world_list = list(word)
world_Set = set(word)
print(world_list)
print(world_Set)

Input a word: wooooooooooorrrrd
['w', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'r', 'r', 'r', 'r', 'd']
{'r', 'd', 'w', 'o'}

# 스택 (Stack)
나중에 들어온 값을 먼저 나갈 수 있도록 해 주는 자료구조 (Last In First Out)

In [ ]:
word = input("Input a word: ")
world_list = list(word)
print(world_list)

result = []
for _ in range(len(world_list)):
    result.append(world_list.pop())

print(result)
print(word[::-1])

Input a word: word
['w', 'o', 'r', 'd']
['d', 'r', 'o', 'w']
drow

# 큐 (Queue)
먼저 들어온 값을 먼저 나갈 수있도록 해주는 자료구조 (First In First Out)

In [ ]:
a = [1,2,3,4,5]

a.append(10)
print(a)

a.append(20)
print(a)

print(a.pop(0))
print(a.pop(0))
print(a)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 20]
1
2
[3, 4, 5, 10, 20]

# 튜플 (Tuple)
리스트와 같지만, 데이터의 변경을 허용하지 않는 자료구조
- 선언 외에 여러 가지 연산은 리스트와 같다.
- 리스트에서 사용하는 연산, 인덱싱, 슬라이싱이 모두 동일하게 적용됨.
- 튜플 간의 덧셈 t + t이나 곱셈 t * 2, 그리고 len( )과 같은 리스트형 데이터에 사용하는 함수 모두 사용할 수 있다.
- ***단, 값을 변경할 수 없다! ***

In [ ]:
t = (1,2,3)
print(t+t, t*3)
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3, 1, 2, 3)

3

In [ ]:
t[0] = 5 #err: 값 대입 금지

TypeError: ignored

In [ ]:
t = (1) # 주의!
type(t)

int

# 세트 (Set)
데이터의 중복을 허용하지 않고, 수학의 집합 연산을 지원하는 자료구조
- add( ) : 원소 하나를 추가 
- remove( ) 또는 discard( ) : 원소 하나를 제거  
- update( ) : 새로운 리스트를 그대로 추가 
- clear( ) : 모든 원소를 지우기

In [ ]:
s = set([1,2,3,1,2,3])
print(s)

s.add(1)
print(s)

s.remove(1)
print(s)

s.update([1,4,5,6,7])
print(s)

s.discard(3)
print(s)

s.clear()
print(s)

{1, 2, 3}
{1, 2, 3}
{2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

![image.png]()

In [ ]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

print("s1 = ", s1, ",\ts2 = ",s2)
print(s1.union(s2))
print(s1|s2)

print("s1 = ", s1, ",\ts2 = ",s2)
print(s1.intersection(s2))
print(s1&s2)

print("s1 = ", s1, ",\ts2 = ",s2)
print(s1.difference(s2))
print(s1-s2)

s1 =  {1, 2, 3, 4, 5} ,	s2 =  {3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
s1 =  {1, 2, 3, 4, 5} ,	s2 =  {3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
s1 =  {1, 2, 3, 4, 5} ,	s2 =  {3, 4, 5, 6, 7}
{1, 2}
{1, 2}

# 딕셔너리 (Dictionary)
전화번호부와 같이 키(key)와 값(value)형태의 데이터를 저장하는 자료구조, 여기서 키 값은 다른 데이터와 중복을 허용하지 않음.

- 데이터를 효율적으로 관리하는 방안
- 불필요한 데이터의 개수를 줄임
- 늘어나는 데이터를 관리할 수 있는 변수의 개수를 줄임



```
dict_data = {key1:value1, key2:value2, .... }
```

In [ ]:
kor_score = [49, 80, 20, 100, 80]
math_score = [43, 60, 85, 30, 90]
eng_score = [49, 82, 48, 50, 100]
midterm_score = [kor_score, math_score, eng_score]

student_score = [0, 0, 0, 0, 0]
i = 0
for subject in midterm_score:
    for score in subject:
        student_score[i] += score                   # 학생마다 개별로 교과 점수를 저장
        i += 1                                      # 학생 인덱스 구분
    i = 0                                           # 과목이 바뀔 때 학생 인덱스 초기화
else:
    a, b, c, d, e = student_score                   # 학생별 점수를 언패킹
    student_average = [a/3, b/3, c/3, d/3, e/3]
    print(student_average)

[47.0, 74.0, 51.0, 60.0, 90.0]

In [ ]:
midterm_score = {'kor':kor_score, 'math':math_score, 'eng':eng_score}
print(midterm_score['kor'])

[49, 80, 20, 100, 80]

In [7]:
newDic = {} # 없으면 error!
newDic['America'] = 1 # 어디에 저장할건가요? 빈 생성 공간이라도 필요!
newDic

{'America': 1}

In [9]:
newDic['America'] = 2
newDic

{'America': 2}

In [10]:
country_code = {'America':1, 'Korea':82, 'China':86, 'Japan':81}
country_code

{'America': 1, 'China': 86, 'Japan': 81, 'Korea': 82}

In [11]:
country_code["German"] = 49
country_code

{'America': 1, 'China': 86, 'German': 49, 'Japan': 81, 'Korea': 82}

In [12]:
country_code.keys()

dict_keys(['America', 'Korea', 'China', 'Japan', 'German'])

In [13]:
country_code.values()

dict_values([1, 82, 86, 81, 49])

In [14]:
country_code.items()

dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('German', 49)])

In [ ]:
for k, v in country_code.items():
  print("Key   :", k)
  print("Value :", v)

Key   : America
Value : 1
Key   : Korea
Value : 82
Key   : China
Value : 86
Key   : Japan
Value : 81
Key   : German
Value : 49

In [ ]:
"Korea" in country_code.keys()

True

In [ ]:
82 in country_code.values()

True

In [ ]:
# 문제: 'Korea'의 국가번호코드가 있는 경우 코드를 출력하시오
country = "Korea"
if country in country_code.keys():
  print("{}의 국가번호는 {}입니다.".format(country, country_code[country]))

Korea의 국가번호는 82입니다.

# deque - 스택과 큐의 역할 모두 함

In [ ]:
from collections import deque

deque_list = deque()
for i in range(5):
  deque_list.append(i)

deque_list

deque([0, 1, 2, 3, 4])

In [ ]:
deque_list.pop()
deque_list

deque([0, 1, 2, 3])

In [ ]:
# 인덱스를 지정할 수는 없다.
deque_list.pop(1)
deque_list

TypeError: ignored

In [ ]:
# 왼쪽에 추가할 수도 있다.

deque_list.appendleft(6)
deque_list

deque([6, 6, 0, 1, 2, 3])

## rotate() 
deque에 저장된 요소들의 값 인덱스를 바꾸는 기법
-  rotate()를 이용하여 circular linked list처럼 만들 수 있다.

In [ ]:
from collections import deque
deque_list = deque()
for i in range(5):
  deque_list.append(i)
deque_list

deque([0, 1, 2, 3, 4])

In [ ]:
deque_list.rotate(2)
deque_list

deque([3, 4, 0, 1, 2])

In [ ]:
deque_list.rotate(2)
deque_list

deque([1, 2, 3, 4, 0])

In [ ]:
# 리스트처럼 extend() 사용 가능. extendleft()도 있다.

deque_list.extend([5,6,7])
deque_list

deque([1, 2, 3, 4, 0, 5, 6, 7])

In [ ]:
deque_list.extendleft([5,6,7])
deque_list

deque([7, 6, 5, 1, 2, 3, 4, 0, 5, 6, 7])

## ordereddict - 순서를 가진 딕셔너리
- 키나 값으로 데이터를 정렬할 때 많이 사용 (예, 주민번호를 번호 순서대로 정렬한 후 데이터로 출력하고자 할 때)

In [ ]:
d = {}
d['x'] = 100
d['l'] = 500
d['y'] = 200
d['z'] = 300

for k, v in d.items():
    print(k, v)

x 100
l 500
y 200
z 300

In [ ]:
from collections import OrderedDict         #OrderedDict 모듈 선언

d = OrderedDict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500

for k, v in d.items():
    print(k, v)

x 100
y 200
z 300
l 500

In [ ]:
# 아래와 같이 하면 기존 딕셔너리나 리스트의 순서는 지키면서 딕셔너리 형태로 관리할 수 있다.

def sort_by_key(t):
#    print(t)
    return t[0]

def sort_by_value(t):
    return t[1]

from collections import OrderedDict         #OrderedDict 모듈 선언

d = dict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500

for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items():
    print(k, v)

l 500
x 100
y 200
z 300

In [ ]:
sorted(d.items(), key=sort_by_key)

[('l', 500), ('x', 100), ('y', 200), ('z', 300)]

# defaultdict
- 딕셔너리를 생성할 때 기본값 지정

In [ ]:
d = dict()
print(d["first"])

# first의 키값을 별도로 생성하지 않은 채 바로 호출하면 KeyError가 발생한다

KeyError: ignored

In [ ]:
from collections import defaultdict

d = defaultdict(lambda: 0)          # Default 값을 0으로 설정. 어떤 키든 값(value)은 초기에 모두 0이다.
                                    # lambda는 'return 0'과 비슷한 의미
print(d["first"])

0

In [ ]:
# 초기값을 리스트 형대로 설정할 수도 있다
# 같은 이름을 가진 키가 여러 개 있을 때 이 키의 값을 하나로 만들 때 사용

from collections import defaultdict

s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list) # 초기값을 리스트로 하겠다고 선언
for k, v in s:
    d[k].append(v)

print(d.items())
#[('blue', [2, 4]), ('red', [1]), ('yellow', [1, 3])]

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])

In [ ]:
text = """A press release is the quickest and easiest way to get free publicity. If well written, a press release can result in multiple published articles about your firm and its products. And that can mean new prospects contacting you asking you to sell to them. ….""".lower().split()

from collections import defaultdict

word_count = defaultdict(lambda: 0)             # Default 값을 0으로 설정
for word in text:
    word_count[word] += 1

from collections import OrderedDict
for i, v in OrderedDict(sorted(word_count.items(), key=lambda t: t[1], reverse=True)).items():
    print(i, v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contacting 1
asking 1
sell 1
them. 1
…. 1

#### Counter - 시퀀스 자료형의 데이터 값의 개수를 딕셔너리 형태로 반환

In [ ]:
from collections import Counter
text = list("gallahad")
text

['g', 'a', 'l', 'l', 'a', 'h', 'a', 'd']

In [ ]:
c = Counter(text)
c

Counter({'a': 3, 'd': 1, 'g': 1, 'h': 1, 'l': 2})

In [ ]:
c['a']

3

In [ ]:
Counter("Hello everybody")

Counter({' ': 1,
         'H': 1,
         'b': 1,
         'd': 1,
         'e': 3,
         'l': 2,
         'o': 2,
         'r': 1,
         'v': 1,
         'y': 2})

#### namedtuple - 튜플의 형태로 데이터 구조체를 저장

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', ['x','y']) # 'Point'라는 객체를 만들고 저장되는 요소의 이름을 'x'와 'y'라고 하겠다.
p = Point(11, y=22)   # Point 객체 생성
p

Point(x=11, y=22)

In [ ]:
#1 '변수명.요소이름'으로 참조 가능

p.x, p.y

(11, 22)

In [ ]:
#2 인덱스로 참조 가능

print(p[0]+p[1])

33