<a href="https://colab.research.google.com/github/HyoJInNam/Python/blob/master/Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 람다식(lambda)이란?

일반 함수
```
def funcion(arg):
    return value
```

### 람다
```
function = lambda arg: value
```

In [1]:
f = lambda x: x + 2
f(2)

4

In [2]:
f = lambda x,y: x + y
f(1,2)

3

In [3]:
(lambda x,y: x + y)(1,2)

3

### 람다를 반환하는 함수
- 람다는 필요할 때 바로 정의해서 사용한 후 버리는 일시적인 함수이다.

In [4]:
def sec2other(unit):
   return lambda sec: sec/unit

sec2min = sec2other(60)
sec2hour = sec2other(3600)

print(sec2min(180))       # 180초를 분으로 나타내면?
print(sec2hour(7200))     # 7200초를 시간으로 나타내면?

3.0
2.0

람다를 반환하는 함수
```
def sec2other(unit):
    return lambda sec: sec/unit
```

반환하는 람다를 받은 변수는 함수이다.
```
sec2min = sec2other(60)
sec2hour = sec2other(3600)
```
sec2min() 와 sec2hour()을 일반 함수처럼 사용가능하다.
```
print(sec2min(180))
print(sec2hour(7200))
```

sec2min
- unit 60
- sec = 180

sechour
- unit = 3600
- sec = 7200

## 예제1. 초(sec)를 일(day)로 나타내보세요.

In [5]:
# 초(sec)를 일(day)로 나타내 보세요.
sec2day = sec2other(86400) # 1일 = 60초*60분*24시간 = 86400초
print(sec2day(172800))

2.0

## 예제2. 환율계산기를 만들어 보세요.

In [6]:
def other2won(unit):
   return lambda price: price*unit

usd2won = other2won(1204.00) #달러환율
eur2won = other2won(1395.07) #유로환율

print(usd2won(10)) #10달러는 한국돈으로 얼마?
print(eur2won(15)) #15유로는 한국돈으로 얼마?

12040.0
20926.05

- 앞의 예제에서 lambda를 이용해 함수 정의를 그때 그때 바꿀 수 있어 편리했고, 확장 가능성을 볼 수 있었습니다.
- 함수도 변수와 같이 객체처럼 다루고 있기때문에 일시적으로 사용한다는 것을 알 수 있었습니다. (변수라는 것도 계속 사용한다기 보다는 계산 상 혹은 잠시 값을 저장하는 용도로 일시적으로 사용하고 버리기는 경우가 대부분)

# lambda와 map의 만남
- 입력이 여러개일 때, for문을 돌면서 함수를 여러 번 호출할 수 있지만 map을 이용해 쉽게 구현할 수 있다.
- 함수를 객체처럼 다룰 수 있다.

In [7]:
list(map(lambda x:(x//10)*(x%10), range(10,100)))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [8]:
# 1부터 5까지의 제곱 구하기
def calc(x):
  return x*x

for i in range(1,6):
  print(calc(i))

1
4
9
16
25

In [9]:
# map 함수를 이용해서 구하기
def calc(x):
  return x*x

list(map(calc, range(1,6)))

[1, 4, 9, 16, 25]

In [10]:
# map함수의 첫 번째 인자에서 기능 지정하기
list(map(lambda x:x*x, range(1,6)))

[1, 4, 9, 16, 25]

In [11]:
# 하나의 입력에 두 개의 인자 넘기기
input1 = [1,3,5,7,9]
input2 = [2,4,6,8,10]

list(map(lambda x,y:x+y, input1, input2))

[3, 7, 11, 15, 19]

## 예제1. 구구단 만들기

In [12]:
list(map(lambda x:(x//10)*(x%10), range(10,100)))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [13]:
alist = list(map(lambda x:str(x//10)+'x'+str(x%10)+'='+str((x//10)*(x%10)), range(10,100)))

In [14]:
import numpy as np
arr = np.array(alist)
arr.reshape(9,10)

array([['1x0=0', '1x1=1', '1x2=2', '1x3=3', '1x4=4', '1x5=5', '1x6=6',
        '1x7=7', '1x8=8', '1x9=9'],
       ['2x0=0', '2x1=2', '2x2=4', '2x3=6', '2x4=8', '2x5=10', '2x6=12',
        '2x7=14', '2x8=16', '2x9=18'],
       ['3x0=0', '3x1=3', '3x2=6', '3x3=9', '3x4=12', '3x5=15', '3x6=18',
        '3x7=21', '3x8=24', '3x9=27'],
       ['4x0=0', '4x1=4', '4x2=8', '4x3=12', '4x4=16', '4x5=20',
        '4x6=24', '4x7=28', '4x8=32', '4x9=36'],
       ['5x0=0', '5x1=5', '5x2=10', '5x3=15', '5x4=20', '5x5=25',
        '5x6=30', '5x7=35', '5x8=40', '5x9=45'],
       ['6x0=0', '6x1=6', '6x2=12', '6x3=18', '6x4=24', '6x5=30',
        '6x6=36', '6x7=42', '6x8=48', '6x9=54'],
       ['7x0=0', '7x1=7', '7x2=14', '7x3=21', '7x4=28', '7x5=35',
        '7x6=42', '7x7=49', '7x8=56', '7x9=63'],
       ['8x0=0', '8x1=8', '8x2=16', '8x3=24', '8x4=32', '8x5=40',
        '8x6=48', '8x7=56', '8x8=64', '8x9=72'],
       ['9x0=0', '9x1=9', '9x2=18', '9x3=27', '9x4=36', '9x5=45',
        '9x6=54', '9x7=63', '9x8=72', '9x9=81']], dtype='<U6')

## 예제2. 369게임

In [15]:
# 1단계. 3의 배수이면 박수치기

list(map(lambda x: '짝' if x % 3 == 0 else x, range(1, 10)))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝']

In [16]:
# 2단계. 3,6,9 중 하나가 들어가면 박수치기

list(map(lambda x: '짝' if str(x).find('3') >= 0 or str(x).find('6') >= 0 or str(x).find('9') >= 0 else x, range(1, 20)))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10, 11, 12, '짝', 14, 15, '짝', 17, 18, '짝']

In [17]:
# 3단계. 3의 배수이거나, 3,6,9 중 하나가 들어가면 박수치기

list(map(lambda x: '짝' if x%3 == 0 or str(x).find('3') >= 0 or str(x).find('6') >= 0 or str(x).find('9') >= 0 else x, range(1, 20)))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10, 11, '짝', '짝', 14, '짝', '짝', 17, '짝', '짝']

In [18]:
# 실제 369게임은 3의 배수이거나, 3이 들어가면 박수를 칩니다.

list(map(lambda x: '짝' if x%3 == 0 or str(x).find('3') >= 0 else x, range(1, 20)))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10, 11, '짝', '짝', 14, '짝', 16, 17, '짝', 19]